.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#061326;
    height: 100vh;
    margin: 0%;
    
}
.register-container{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    background-color: #061326;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #0a2540;
}

img{
    width: 10%;
    height: 40%;
    margin-top: 20px;

}
p{
    font-size:Large;   
}