.dashboard-content {
    display: flex;
    flex-direction: column;

}
.dashboard-line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.dashboard-size{
    width: 150px;
    
}
.dashboard-box{
    display: flex;
    gap: 10px;
}
.dashboard-box-item1{
    background-color: #081933;
    width: 650px;
    height: 375px;
}
button{
    background-color: #081933;
}

