.uploadfile-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.uploadfile-card{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #081933;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.uploadfile-content{
    display: flex;
    flex-direction: column;
    
}



#category-select{
    width: 325px;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    background-color:  #0a2042;
    color: white;
    border: 0.5px solod gray;
    border-radius: 5px;
    font-size: 16px;
}
#tags-input{
    width: 325px;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    background-color:  #0a2042;
    color: white;
     border: 0.5px solod gray;
    border-radius: 5px;
    font-size: 16px;
}
#file-input {
    width: 300px;
    height: 30px;
    margin-left: 25px;
    padding: 10px;
    background-color: #0a2042;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
#label-input{
    margin-left: 25px;
}

#file-input::-webkit-file-upload-button {
    background: #102a52;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#file-input::-webkit-file-upload-button:hover {
    background: #153665;
}
button{
    background-color: #0a2042;
}